.nav {
  background: #6a1b9a;
  height: 60px;
}

.nav h1 {
  color: rgb(250, 247, 247);
  font-size: 1.5rem;
  text-align: right;
  text-decoration: none;
  line-height: 3;
}
.nav-item a {
  padding: 10px;
  margin: 10px;
 color: rgb(61, 11, 21);
 align-items: end;
}
