.nav {
  background: #729abd;
 
  height: 80px;
}

.nav h1 {
  color: rgb(18, 11, 207);
  font-size: 1.5rem;
  text-align: right;
  text-decoration: none;
  line-height: 3;
}
.nav-item a {
  padding: 10px;
  margin: 10px;
 color: rgb(0, 0, 0);
 align-items: end;
}
