.about h1 {
    color: rgb(27, 1, 1);
    
    margin: 5px;
    padding: 5px;


}

.about img {
    border: 1px solid black;
  height: 200px;
  
 


}

.about p {
    text-align: center;
    color: azure;
  padding: 14px 20px;
  text-decoration: none;
}

